/* Type Selectors ------------------ */
body {
  background-color: #CCFFDA;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 75px;
  color: purple;
  text-align: center;
}

/* ID selectors -------------------------------- */
/* Control resolution of site */

#main-content {
  font: normal 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

#main-header,
#main-content,
#footer-main {
  width: 60%;
}

/* Main content of the page */
#main-content {
  border-bottom: lightblue solid 6px;
}

#footer-main {
  font-size: 15px;
  border-bottom: lightblue solid 6px;
}

/* Class selectors ---------------------------- */
  /* Main navigation bars/boxes */
.header-nav-bar {
  border-top: lightblue solid 6px;
  border-bottom: lightblue solid 6px;
  text-align: center;
  font-size: 2em; /* 32px */
}

.header-nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 1%;
}

.header-nav-bar ul li {
  display: inline;
}

.footer-nav-main {
  text-align: center;
}

.footer-nav-main ul li {
  display: inline;
}

  /* Images */
.profile-pic {
  margin-top: 6px;
  border-radius: 50%;
}

/* Thumbnail gallery images */

.gallery {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 126px;
}

.gallery:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* pseudo-classes - Links -------------------*/
a:link {
  color: purple;
  text-decoration: none; /* Remove underlines from all links */
}

a:hover {
  color: pink;
}

a:active {
  color: lightcoral;
}
